[submodule "apps/qtcloud-delib"]
	path = apps/qtcloud-delib
	url = https://github.com/quanttide/qtcloud-delib.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-deliberation-management.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-deliberation-management.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-deliberation-management.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-deliberation-management.git
