[submodule "apps/qtcloud-delib"]
	path = apps/qtcloud-delib
	url = https://github.com/quanttide/qtcloud-delib.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-deliberation-management.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-deliberation-management.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-deliberation-management.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-deliberation-management.git
[submodule "docs/bylaw"]
	path = docs/bylaw
	url = https://github.com/quanttide/quanttide-bylaw-of-deliberation-management.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-deliberation-management.git
[submodule "packages/quanttide-delib-toolkit"]
	path = packages/quanttide-delib-toolkit
	url = https://github.com/quanttide/quanttide-delib-toolkit.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-deliberation-management.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-deliberation-management.git
